.app{
    width: 900px;
    margin: 0px auto;
}

.post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(4, 87, 32);
    border-radius: 10px;
    margin: 15px 0px;
    padding: 10px;
}

.item-enter {
    opacity: 0;
}

.item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.item-exit {
    opacity: 1;
}

.item-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.post > button{
    height: 30px;
}

.posts_list{
    list-style-type: none;
    padding: 0px;
}

.h1_not_found{
    margin: 0px auto;
    color: teal;
    text-align: center;
}