.app{
    width: 900px;
    margin: 0px auto;
}

.post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(4, 87, 32);
    border-radius: 10px;
    margin: 15px 0px;
    padding: 10px;
}

.item-enter {
    opacity: 0;
}

.item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.item-exit {
    opacity: 1;
}

.item-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.post > button{
    height: 30px;
}

.posts_list{
    list-style-type: none;
    padding: 0px;
}

.h1_not_found{
    margin: 0px auto;
    color: teal;
    text-align: center;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.pag_button{
    display: block;
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid teal;
    border-radius: 50%;
    text-align: center;
}

.pag_active{
    box-shadow: 0px 0px 5px 1px #24ff2b;
}

.navigation{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 40px;
    background-color: rgb(38 39 38 / 63%);
}

.navigation > div{
    margin-left: 85%;
    margin-top: 10px;
}

.navigation > div > a{
    color: white;
    text-decoration: none;
}

.navigation > div > a:last-child{
    margin-left: 15px;
}